<div class="modal fade" id="modalcancelamento" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Validar Cadastro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="modal-form" action="/users/consult" method="POST" id="form">
                    <div class="row">
                        <div class="form-floating col-sm-12 col-md-12 mb-2">
                            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Cpf">
                            <label for="floatingInput">CPF(APENAS NÚMEROS):*</label>
                        </div>
                        <% if (message) { %>
                            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                <strong><%= message %></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        <% } %>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-register">CONSULTAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>