<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <nav id="navbar-example2" class="navbar navbar-expand-md fixed-top navbar-light bg-white">
        <div class="container-fluid justify-content-between mx-10">
            <a class="navbar-brand img-fluid mx-1" href="#"><img src="/images/LOGO.png" alt="logo" width="150"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarTogglerDemo01">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item button-nav">
                        <a class="nav-link text-center fs-5" href="../users/updateprofile">Alterar Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="../users/logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container container-register w-60 mb-5">
        <div class="header">
            <h5 class="modal-register" id="exampleModalLabel">CONSULTA DE CADASTRO</h5>
        </div>
        <form class="form-control" action="/users/vaccinated" method="POST">
            <div class="row">
                <% if (userconsult.isvaccinated) { %>
                    Paciente consta vacinado(a) no sistema.
                <% } else {%>
                    <div class="form-floating col-sm-12 col-md-12 mb-2">
                        <input value="<%= userconsult.name %>" disabled type="text" class="form-control" name="name" id="name" placeholder="Nome">
                        <label for="floatingInput">Nome*:</label>
                    </div>
                    <div class="form-floating col-sm-12 col-md-6 mb-2">
                        <input value="<%= userconsult.cpf %>" disabled type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF">
                        <label for="floatingInput">CPF*:</label>
                    </div>
                    <div class="form-floating col-sm-12 col-md-6 mb-2">
                        <input value="<%= userconsult.cns %>" disabled type="text" class="form-control" name="cns" id="cns" placeholder="SUS">
                        <label for="floatingInput">Cartão SUS*:</label>
                    </div>
                <% } %>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-register">APLICAR VACINA</button>
                </div>
            </div>
        </form>
    </div>

    <footer class="fixed-bottom">
        <div class="footer-img">
            <img src="/images/seringa.png" alt="">
        </div>
        <div class="copyright">Copyright &copy; 2021</div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>