<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avacinade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
    
    <nav id="navbar-example2" class="navbar navbar-expand-md fixed-top navbar-light bg-white">
        <div class="container-fluid justify-content-between mx-10">
            <a class="navbar-brand img-fluid mx-1" href="#"><img src="images/LOGO.png" alt="logo" width="150"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarTogglerDemo01">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="#carousel">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="#informations">INFORMAÇÕES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="#access">ACESSAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center fs-5" href="#map">LOCALIZAÇÃO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="carousel d-flex justify-content-center align-items-center w-100" id="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </section>

    <section class="informations container-fluid d-flex justify-content-around align-items-end" id="informations">
        <img class="img-fluid mb-3" src="images/informations-img.png" alt="">
        <div class="d-flex flex-column bd-highlight mt-5">
            <div class="box-info1 container-fluid w-75 my-3">
                <div class="bola1"><h1>1</h1></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti ratione iure, cupiditate nisi, facilis saepe voluptas nostrum dolorum est aperiam rerum voluptatem facere nihil corporis eligendi temporibus tenetur consectetur.</p>
            </div>
            <div class="box-info2 container-fluid w-75 my-3">
                <div class="bola2"><h1>2</h1></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti ratione iure, cupiditate nisi, facilis saepe voluptas nostrum dolorum est aperiam rerum voluptatem facere nihil corporis eligendi temporibus tenetur consectetur.</p>
            </div>
            <div class="box-info1 container-fluid w-75 my-3">
                <div class="bola1"><h1>3</h1></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti ratione iure, cupiditate nisi, facilis saepe voluptas nostrum dolorum est aperiam rerum voluptatem facere nihil corporis eligendi temporibus tenetur consectetur.</p>
            </div>
        </div>
    </section>

    <section class="access" id="access"> 
        <button class="btn-cadastrar" type="button" data-bs-toggle="modal" data-bs-target="#modalCadastro">CADASTRAR</button>
        <button class="btn-acessar" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">ACESSAR</button>
    </section>

    <section class="map" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.3776472132795!2d-34.87579773463759!3d-8.062906832800518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7caecfbcc5347f69!2sPorto%20Digital%20-%20NGPD%20(N%C3%BAcleo%20de%20Gest%C3%A3o%20do%20Porto%20Digital)!5e0!3m2!1spt-BR!2sbr!4v1619556639350!5m2!1spt-BR!2sbr" width="100%" height="655" style="border:0; margin-top: 60px;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <footer>
        <div class="footer-img">
            <img src="images/seringa.png" alt="">
        </div>
        <div class="copyright">Copyright &copy; 2021</div>
    </footer>

    <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-register" id="exampleModalLabel">CADASTRO PARA VACINAÇÃO COVID-19</h5>
                    <button type="button" class="btn-c" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <form class="modal-form">
                        <div class="row">
                            <div class="form-floating col-sm-12 col-md-12 mb-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nome">
                                <label for="floatingInput">Nome*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="CPF" id="floatingInput" placeholder="CPF">
                                <label for="floatingInput">CPF*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="email" id="floatingInput" placeholder="SUS">
                                <label for="floatingInput">Cartão SUS*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-12 mb-2">
                                <input type="text" class="form-control" name="NomeCompleto" id="floatingInput" placeholder="NomeCompleto">
                                <label for="floatingInput">Nome Completo da Mãe*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Nascimento" id="floatingInput" placeholder="Nascimento">
                                <label for="floatingInput">Nascimento*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Telefone" id="floatingInput" placeholder="Telefone">
                                <label for="floatingInput">Telefone*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <select class="form-select">
                                    <option>Raça/Cor:*</option>
                                    <option value="1">Branca</option>
                                    <option value="2">Preta</option>
                                    <option value="3">Parda</option>
                                    <option value="4">Indígena</option>
                                    <option value="5">Amarela</option>
                                    <option value="6">Não desejo declarar</option>
                                </select>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <select class="form-select">
                                    <option>Sexo*:</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                    <option value="3">Não sei responder</option>
                                    <option value="4">Prefiro não responder</option>
                                    <option value="5">Outros</option>
                                </select>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="CEP" id="floatingInput" placeholder="CEP">
                                <label for="floatingInput">CEP*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Rua" id="floatingInput" placeholder="Rua">
                                <label for="floatingInput">Rua*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Número" id="floatingInput" placeholder="Número">
                                <label for="floatingInput">Número*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Bairro" id="floatingInput" placeholder="Bairro">
                                <label for="floatingInput">Bairro*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Complemento" id="floatingInput" placeholder="Complemento">
                                <label for="floatingInput">Complemento*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="Cidade" id="floatingInput" placeholder="Cidade">
                                <label for="floatingInput">Cidade*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="EMAIL" id="floatingInput" placeholder="EMAIL">
                                <label for="floatingInput">Email*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="ConfEmail" id="floatingInput" placeholder="ConfEmail">
                                <label for="floatingInput">Confirmação de Email*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="senha" id="floatingInput" placeholder="senha">
                                <label for="floatingInput">Senha*:</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-6 mb-2">
                                <input type="text" class="form-control" name="confSenha" id="floatingInput" placeholder="ConfEmail">
                                <label for="floatingInput">Confirmação de Senha*:</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-register">CADASTRAR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-register" id="exampleModalLabel">Entrar</h5>
                    <button type="button" class="btn-c" data-bs-dismiss="modal">X</button>
                </div>
                <p><span class="recovery"> Informe seus dados:</span></p>
                <div class="modal-body-login">
                    <form class="modal-form" action="/users/login" method="POST">
                        <div class="row">
                            <div class="form-floating col-sm-12 col-md-12 mb-2">
                                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Cpf">
                                <label for="floatingInput">CPF(APENAS NÚMEROS):*</label>
                            </div>
                            <div class="form-floating col-sm-12 col-md-12 mb-2">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
                                <label for="floatingInput">SENHA:*</label>
                            </div>
                                                    
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-register">ENTRAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>