<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/modalstyle.css">
        <title>MODAL</title>
    </head>
    <body>
        <section class="modal" id="modal">
            <div class="modal-content">
                <div class="header-modal">
                    <h1>Login</h1>
                    <button class="fechar" id="fechar">X</button>
                </div>
                <form>
                    <label for="">Email</label>
                    <br><input type="text" name="email" id="email"></br>
                    <label for="">Senha</label>
                    <br><input type="text" name="senha" id="senha"></br>
                    <button>Entrar</button>
                </form>
            </div>
        </section>
    </body>
</html>