<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Passoword Recovery</title>
</head>

<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-register" id="exampleModalLabel">Recuperar</h5>
                    <button type="button" class="btn-c" data-bs-dismiss="modal">X</button>
                </div>
                <p><span class="recovery"> Informe seu CPF e EMAIL para prosseguir:</span></p>
                <div class="modal-body-login">
                    <form class="modal-form">
                        <div class="row">
                        </div>
                        <div class="form-floating col-sm-12 col-md-12 mb-2">
                            <input type="text" class="form-control" name="CPF" id="floatingInput" placeholder="Cpf">
                            <label for="floatingInput">CPF(APENAS NÚMEROS):*</label>
                        </div>
                        <div class="form-floating col-sm-12 col-md-12 mb-2">
                            <input type="text" class="form-control" name="Email" id="floatingInput" placeholder="Email">
                            <label for="floatingInput">EMAIL:*</label>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-register">Enviar</button>
                </div>
                </form>
            </div>

        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>